body {
  margin: 0;
  font-family: Arial;
}

#map {
  height: 100vh;
}

.panel {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #0D1117;
  color: white;
  padding: 10px;
}

button {
  padding: 10px;
  margin-right: 10px;
  background: #2ECC71;
  border: none;
  color: white;
  font-weight: bold;
}

.stats {
  margin-top: 10px;
}

.leaderboard {
  margin-top: 10px;
  max-height: 150px;
  overflow-y: auto;
}
